menu "MQTT Service Configuration"

    config MQTT_SVC_CMD_TOPIC
        string "MQTT command topic"
        default "arcana/cmd"
        help
            MQTT topic for receiving commands.

    config MQTT_SVC_RSP_TOPIC
        string "MQTT response topic"
        default "arcana/rsp"
        help
            MQTT topic for publishing responses.

    config MQTT_SVC_USERNAME
        string "MQTT username"
        default ""
        help
            MQTT broker username. Leave empty for anonymous.

    config MQTT_SVC_PASSWORD
        string "MQTT password"
        default ""
        help
            MQTT broker password.

endmenu
